<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SVL.My.MySettings.SistemaCLRConnectionString" connectionString="Data Source=192.168.0.64,49172;Initial Catalog=SistemaCLR;User ID=sa;Password=CAPUFE;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SVL.My.MySettings.SistemaCLRConnectionString1" connectionString="Data Source=DESKTOP-CP42QN5\SQLEXPRESS;Initial Catalog=SistemaCLR;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SVL.My.MySettings.SistemaCLRConnectionString2" connectionString="Data Source=DESKTOP-CP42QN5\SQLEXPRESS;Initial Catalog=SistemaCLR;User ID=sa;Password=CAPUFE;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SVL.My.MySettings.SistemaCLRConnectionString3" connectionString="Data Source=DESKTOP-CP42QN5\SQLEXPRESS;Initial Catalog=SistemaCLR;User ID=sa;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SVL.My.MySettings.SistemaCLRConnectionString4" connectionString="Data Source=DESKTOP-CP42QN5\SQLEXPRESS;Initial Catalog=SistemaCLR;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SVL.My.MySettings.SistemaCLRConnectionString7" connectionString="Data Source=192.168.0.90,1433;Initial Catalog=SistemaCLR;User ID=usuario;Password=CAPUFE;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SVL.My.MySettings.SistemaCLRConnectionString8" connectionString="Data Source=192.168.0.90,1433;Initial Catalog=SistemaCLR;User ID=usuario;Password=CAPUFE;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>